/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
}

h1{
    color: black;
    text-align: center;
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Estilos para las secciones */
section {
    padding: 10px;
    margin: 10px
    
}

/* Estilos para el pie de p치gina */
#main-footer {
    color: #ff6600;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

#emprendimiento{
    font-family: 'Times New Roman', Times, serif;
}


.botones{
    text-align: center;
    margin-bottom: 20px;
 }

.botones button {
    margin: 5px;
    border: 1px solid #333;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
  }

.botones button:hover {
    background-color: #e64d00;
  }

.imagenes img{
    margin: 5px;
    height: auto;

}

#about {
        display: flex;
        align-items: center;
        text-align: center;
}

  
.imagen-yo {
    border: 5px solid  #ff6600;

}
  
#about p {
    flex: 1; /* El p치rrafo ocupa todo el espacio restante */

}


/* Media Queries */

/* Para dispositivos con pantallas peque침as (m칩viles) */
@media (max-width: 600px) {
    .imagenes img {
        max-width: 100%;
    }

    #about {
        flex-direction: column;
        padding: 10px;
        align-items: center;
        text-align: center;
    }

    .imagen-yo {
        max-width: 50%;
        margin-right: 0;
    }

    #about h2 {
        font-size: 1.5rem;
    }

    .botones button {
        padding: 10px 20px;
        font-size: 16px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

/* Para tabletas y pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
    .imagenes img {
        max-width: 30%;
    }

    #about {
        flex-direction: row;
        padding: 20px;
    }

    .imagen-yo {
        max-width: 150px;
        margin-right: 15px;
    }

    #about h2 {
        font-size: 2rem;
    }

    .botones button {
        padding: 10px 22px;
        font-size: 17px;
    }

    h1 {
        font-size: 2rem;
    }
}

/* Para pantallas grandes (escritorios) */
@media (min-width: 1025px) {
    .imagenes img {
        max-width: 15%;
    }

    #about {
        flex-direction: row;
        padding: 30px;
    }

    .imagen-yo {
        max-width: 200px;
        margin-right: 20px;
    }

    #about h2 {
        font-size: 2.5rem;
    }

    .botones button {
        padding: 12px 24px;
        font-size: 18px;
    }

    h1 {
        font-size: 2.5rem;
    }
}